<div class="field">
<%= f.label :sat, 'Sat Score' %>
<%= f.text_field :sat  %>
</div>
  <div class="field">
<%= f.label :sat, 'ACT Score' %>
<%= f.text_field :act  %>
  </div>
    <div class="field">
<%= f.label :sat, 'GRE Score' %>
<%= f.text_field :gre  %>
    </div>
      <div class="field">
<%= f.label :sat, 'TOEFL Score' %>
<%= f.text_field :toefl  %>
      </div>
        <div class="field">
<%= f.label :sat, 'IELTS Score' %>
<%= f.text_field :ielts  %>
        </div>