<p id="notice"><%= notice %></p>

<p>
  <strong>Gpa:</strong>
  <%= @education.gpa %>
</p>

<p>
  <strong>College name:</strong>
  <%= @education.college_name %>
</p>

<p>
  <strong>Degree:</strong>
  <%= @education.degree %>
</p>

<%= link_to 'Edit', edit_education_path(@education) %> |
<%= link_to 'Back', educations_path %>
